// *************************** header ***********************//

.wp-block-button__link {
  padding: 1rem 3rem;
  border-radius: 1rem;
  background-color: $color_accent;
  border-color: $color_accent;
  border-style: none;
  font-weight: bold;
  font-size: 1rem;
  margin: 2rem;

  @media screen and (min-width: 300px) {
    margin: 0;
  }

  &:hover {
    background-color: $color_accent2;
    color: $color_contact_form;
    transition: all 0.5s ease;
  }
}

.wpforms-submit-container {
  button {
    font-weight: 400;
  }
}

//******************************** header *************************//
