/////////////////////// ABOUT PAGE ////////////////////////////////
.about-page {
    background-color: $color_body_bg;
    height: 90vh;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
}

.about-page-info {
    width: 70%;
    color: $color_text_black;
    font-weight: bold; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;

     p {
            font-weight: 200;
            font-size: 1.5rem;
        }

    img {
            margin: 3rem;
        }

        .about-page-content {
            font-size: 2rem;
            color: $color_body_text;

        }
    }


    .about-page-title {
            margin: 4rem;
            font-size: 3rem;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;

    }
    









////////////////////// ABOUT PAGE end////////////////////////